{% include "header.html" %}
<div class="py-5 text-center" style="background-image: url('static/assets/img/background_img.jpg'); background-size:contain; background-position: center center;">
    <img class="d-block mx-auto mb-4 rounded" src="static/assets/img/headshot.jpg" alt="head shot" id="headshot" width="400"></div>
<div class="py-5 text-center"><h1 class="display-5 kanit-bold">Hello there</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome to my portfolio website! My name is Jakub Świdłowski, and I'm thrilled to have you here. Let me give you a quick overview of my career journey so far.
I began my professional development journey by immersing myself in Python, starting from the basics and progressing to becoming a proficient developer. I am passionate about leveraging technology to solve real-world problems and create meaningful solutions.
          Feel free to explore my portfolio to see examples of my work and projects that demonstrate my capabilities and interests. Thank you for visiting, and I look forward to connecting with you!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3 kanit-light" id="navbar" onclick="location.href='{{url_for('resume')}}'">My Résumé</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4 kanit-light" onclick="location.href='{{url_for('contact')}}'">Contact</button>
      </div>
    </div>
</div>
<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom kanit-bold">What I work in</h2>
  <div class="container-lg row justify-content-center">
    <div  class="d-flex gap-2 justify-content-center py-3 col-md-auto">
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="24" height="24" src="static/assets/img/python-logo-only.png" alt="Python logo"> Python
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="24" height="24" src="static/assets/img/flask.png" alt="Flask logo">Flask
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="24" height="24" src="static/assets/img/HTML5.png" alt="HTML logo">HTML
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="24" height="24" src="static/assets/img/CSS3.png" alt="CSS logo">CSS
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
             <img class="me-1" width="24" height="24" src="static/assets/img/Bootstrap.png" alt="Bootstrap logo">Bootstrap
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            RESTful API
        </span>
    </div>
    <div  class="d-flex gap-2 justify-content-center py-3 col-md-auto">
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="24" height="24" src="https://pandas.pydata.org/static/img/pandas_mark.svg" alt="Pandas logo">Pandas
        </span>
        <span class="badge d-flex align-items-center p-1 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="90" height="24" src="static/assets/img/Plotly-logo.png" alt="Plotly logo">
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="24" height="24" src="static/assets/img/Matplotlib.png" alt="Matplotlib logo">Matplotlib
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="24" height="24" src="static/assets/img/NumPy.png" alt="NumPy logo">NumPy
        </span>
    </div>
    <div  class="d-flex gap-2 justify-content-center py-3 col-md-auto">
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            Tkinter
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="24" height="24" src="static/assets/img/Selenium.png" alt="Selenium">Selenium
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            BeautifulSoup
        </span>
        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="me-1" width="24" height="24" src="static/assets/img/SQLite.png" alt="SQLite logo">SQLite
        </span>
    </div>
  </div>
</div>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom kanit-bold">Where you can find me</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2 text-center">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <a href="https://github.com/jakubswi"><svg xmlns="http://www.w3.org/2000/svg" width="100" fill="white" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
            </svg></a>
        </div>
        <h3 class="fs-2 kanit-light">Github</h3>
        <p>You can explore my projects further on my GitHub page. There, you'll find a collection of code repositories showcasing my journey from mastering Python fundamentals to developing projects that reflect my passion for software development.</p>
      </div>
      <div class="feature col text-center">
        <div class="feature-icon align-items-center fs-2 mb-3">
          <a href="https://pl.linkedin.com/in/jakub-%C5%9Bwid%C5%82owski-198767246?trk=people_directory"><svg xmlns="http://www.w3.org/2000/svg" width="100" fill="white" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
          </svg></a>
        </div>
        <h3 class="fs-2 kanit-light">LinkedIn</h3>
        <p>For a deeper insight into my career journey and professional achievements, I invite you to explore my LinkedIn profile. There, you'll find a comprehensive overview of my experiences in Python development and customer service within the financial sector. From my educational background to my latest projects and endorsements, LinkedIn offers a holistic view of my skills and accomplishments.</p>
    </div>
</div>






{% include "footer.html" %}